<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/style.css">
    <title>Task Management - Home</title>
</head>
<body>
    <nav> 
        <h4>Node  MySQL</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Task management system</h1>
            <p class="lead">Conquer Your Task, Master Your Time</p>
            <hr class="my-4">
            <p> Streamline your tasks, boost your productivity, and achieve your goals effortlessly. </p>
            <a class="btn btn-primary btn-1g" href="#"  role="button">learn more                                                </a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">            
</body>
</html>